# Ignore built files
build

# Ignore test files
test

# Ignore vendor libraries
**/node_modules/**

# Ignore specific files or directories
dist
coverage
public/assets

# Ignore files with specific extensions
*.log
*.txt
*.md
