fastapi==0.124.0
uvicorn[standard]==0.38.0
pymongo==4.15.5
motor==3.7.1
pydantic==2.12.5
pydantic[email]==2.12.5
PyYAML==6.0.3
python-multipart==0.0.6
pytest==9.0.1
httpx==0.25.2pi==0.116.1
uvicorn[standard]==0.38.0
pymongo==4.15.5
motor==3.7.1
pydantic==2.12.5